div{
    font-size: 40;
    margin: auto;
    height: 100px;
    width: 100px;
    text-align: center;
    border-top: #687291 1px solid;
    font-family: Tahoma;
    margin-bottom: 0.5%;
}
.even{
    background-color:  #dfe1e7;
}
.odd{
    background-color:  #eeeff2;
}
#weirdshit{
    background-color: #687291;
    border: black solid 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}